In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
res = req.get("https://finance.naver.com/sise/")
soup = bs(res.content, "html.parser")

In [26]:
data = soup.select("ul.lst_major")

In [27]:
for i in data:
    print(i.text.split())

['다우산업33,402.38하락', '나스닥12,126.33하락', '홍콩H6,875.47하락', '상해종합3,312.56상승', '니케이22528,111.04하락']

In [35]:
data = soup.select("ul.lst_major > li")
for i in data:
    print("지수이름 : ", i.select_one('a').text, "현재지수 : ", i.select_one('span').text, "등락률 : ", i.select_one('em').text)

지수이름 :  다우산업 현재지수 :  33,402.38 등락률 :  하락
지수이름 :   나스닥 현재지수 :  12,126.33 등락률 :  하락
지수이름 :   홍콩H 현재지수 :  6,875.47 등락률 :  하락
지수이름 :   상해종합 현재지수 :  3,312.56 등락률 :  상승
지수이름 :   니케이225 현재지수 :  28,111.04 등락률 :  하락

### 위키문헌 윤동주 작품 가져오기

In [39]:
url="https://ko.wikisource.org/wiki/%EC%A0%80%EC%9E%90:%EC%9C%A4%EB%8F%99%EC%A3%BC"
res = req.get(url)
soup = bs(res.content, "html.parser")

In [44]:
list = soup.select("#mw-content-text > div.mw-parser-output > ul > li a")

In [46]:
for i in list:
    print("-",i.text)

- 하늘과 바람과 별과 시
- 증보판
- 서시
- 자화상
- 소년
- 눈 오는 지도
- 돌아와 보는 밤
- 병원
- 새로운 길
- 간판 없는 거리
- 태초의 아침
- 또 태초의 아침
- 새벽이 올 때까지
- 무서운 시간
- 십자가
- 바람이 불어
- 슬픈 족속
- 눈감고 간다
- 또 다른 고향
- 길
- 별 헤는 밤
- 흰 그림자
- 사랑스런 추억
- 흐르는 거리
- 쉽게 씌어진 시
- 봄
- 참회록
- 간(肝)
- 위로
- 팔복
- 못자는밤
- 달같이
- 고추밭
- 아우의 인상화
- 사랑의 전당
- 이적
- 비오는 밤
- 산골물
- 유언
- 창
- 바다
- 비로봉
- 산협의 오후
- 명상
- 소낙비
- 한난계
- 풍경
- 달밤
- 장
- 밤
- 황혼이 바다가 되어
- 아침
- 빨래
- 꿈은 깨어지고
- 산림
- 이런날
- 산상
- 양지쪽
- 닭
- 가슴 1
- 가슴 2
- 비둘기
- 황혼
- 남쪽 하늘
- 창공
- 거리에서
- 삶과 죽음
- 초한대
- 산울림
- 해바라기 얼굴
- 귀뚜라미와 나와
- 애기의 새벽
- 햇빛·바람
- 반디불
- 둘 다
- 거짓부리
- 눈
- 참새
- 버선본
- 편지
- 봄
- 무얼 먹구 사나
- 굴뚝
- 햇비
- 빗자루
- 기왓장 내외
- 오줌싸개 지도
- 병아리
- 조개껍질
- 겨울
- 트루게네프의 언덕
- 달을 쏘다
- 별똥 떨어진 데
- 화원에 꽃이 핀다
- 종시

In [49]:
work_list=[]
for i in list:
    work_list.append(i.text)

In [50]:
work_list

['하늘과 바람과 별과 시',
 '증보판',
 '서시',
 '자화상',
 '소년',
 '눈 오는 지도',
 '돌아와 보는 밤',
 '병원',
 '새로운 길',
 '간판 없는 거리',
 '태초의 아침',
 '또 태초의 아침',
 '새벽이 올 때까지',
 '무서운 시간',
 '십자가',
 '바람이 불어',
 '슬픈 족속',
 '눈감고 간다',
 '또 다른 고향',
 '길',
 '별 헤는 밤',
 '흰 그림자',
 '사랑스런 추억',
 '흐르는 거리',
 '쉽게 씌어진 시',
 '봄',
 '참회록',
 '간(肝)',
 '위로',
 '팔복',
 '못자는밤',
 '달같이',
 '고추밭',
 '아우의 인상화',
 '사랑의 전당',
 '이적',
 '비오는 밤',
 '산골물',
 '유언',
 '창',
 '바다',
 '비로봉',
 '산협의 오후',
 '명상',
 '소낙비',
 '한난계',
 '풍경',
 '달밤',
 '장',
 '밤',
 '황혼이 바다가 되어',
 '아침',
 '빨래',
 '꿈은 깨어지고',
 '산림',
 '이런날',
 '산상',
 '양지쪽',
 '닭',
 '가슴 1',
 '가슴 2',
 '비둘기',
 '황혼',
 '남쪽 하늘',
 '창공',
 '거리에서',
 '삶과 죽음',
 '초한대',
 '산울림',
 '해바라기 얼굴',
 '귀뚜라미와 나와',
 '애기의 새벽',
 '햇빛·바람',
 '반디불',
 '둘 다',
 '거짓부리',
 '눈',
 '참새',
 '버선본',
 '편지',
 '봄',
 '무얼 먹구 사나',
 '굴뚝',
 '햇비',
 '빗자루',
 '기왓장 내외',
 '오줌싸개 지도',
 '병아리',
 '조개껍질',
 '겨울',
 '트루게네프의 언덕',
 '달을 쏘다',
 '별똥 떨어진 데',
 '화원에 꽃이 핀다',
 '종시']

In [51]:
len(work_list)

95

In [54]:
df = pd.DataFrame(work_list,columns=["작품"])
df

              작품
0   하늘과 바람과 별과 시
1            증보판
2             서시
3            자화상
4             소년
..           ...
90     트루게네프의 언덕
91         달을 쏘다
92      별똥 떨어진 데
93     화원에 꽃이 핀다
94            종시

[95 rows x 1 columns]

In [56]:
df.to_csv("work_list.csv", encoding='utf-8', index=False)

In [57]:
work = pd.read_csv("work_list.csv")
work

              작품
0   하늘과 바람과 별과 시
1            증보판
2             서시
3            자화상
4             소년
..           ...
90     트루게네프의 언덕
91         달을 쏘다
92      별똥 떨어진 데
93     화원에 꽃이 핀다
94            종시

[95 rows x 1 columns]

### iframe 내용 가져오기

In [63]:
url_main = "https://finance.naver.com/"
url_sub = "marketindex/"
page = url_main + url_sub
res = req.get(page)
soup = bs(res.content, "html.parser")

In [65]:
frameSrc = soup.find('iframe', id="frame_ex1")
print(frameSrc.attrs['src'])

/marketindex/exchangeList.naver

In [70]:
url = url_main+frameSrc.attrs['src']
res = req.get(url)
soup = bs(res.content, "html.parser")

### 통화명

In [92]:
moneys = soup.select('td.tit > a')
for i in moneys:
    print(i.text.strip())

미국 USD
유럽연합 EUR
일본 JPY (100엔)
중국 CNY
홍콩 HKD
대만 TWD
영국 GBP
오만 OMR
캐나다 CAD
스위스 CHF
스웨덴 SEK
호주 AUD
뉴질랜드 NZD
체코 CZK
칠레 CLP
튀르키예 TRY
몽골 MNT
이스라엘 ILS
덴마크 DKK
노르웨이 NOK
사우디아라비아 SAR
쿠웨이트 KWD
바레인 BHD
아랍에미리트 AED
요르단 JOD
이집트 EGP
태국 THB
싱가포르 SGD
말레이시아 MYR
인도네시아 IDR 100
카타르 QAR
카자흐스탄 KZT
브루나이 BND
인도 INR
파키스탄 PKR
방글라데시 BDT
필리핀 PHP
멕시코 MXN
브라질 BRL
베트남 VND 100
남아프리카 공화국 ZAR
러시아 RUB
헝가리 HUF
폴란드 PLN
스리랑카 LKR
알제리 DZD
케냐 KES
콜롬비아 COP
탄자니아 TZS
네팔 NPR
루마니아 RON
리비아 LYD
마카오 MOP
미얀마 MMK
에티오피아 ETB
우즈베키스탄 UZS
캄보디아 KHR
피지 FJD

### 매매기준율

In [93]:
rate = soup.select('td.sale')
for i in rate:
    print(i.text.strip())

1,311.70
1,437.49
996.77
190.71
167.10
43.08
1,638.44
3,406.84
976.15
1,448.11
127.68
886.25
827.35
61.24
1.62
68.20
0.37
365.67
192.91
127.39
349.72
4,278.35
3,479.03
357.11
1,849.16
42.45
38.61
989.85
298.42
8.82
358.64
2.93
989.85
15.97
4.55
12.43
24.11
72.38
258.60
5.59
73.21
16.54
3.81
307.33
4.07
9.67
9.87
0.29
0.56
9.96
291.52
275.03
162.14
0.62
24.10
0.12
0.32
596.82

In [95]:
#순번, 통화명, 매매기준율
num=[]
moneys=[]
sales=[]
for i in range(len(rate)):
    money = soup.select('td.tit > a')[i].text.strip()
    sale = soup.select('td.sale')[i].text
    num.append(i+1)
    moneys.append(money)
    sales.append(sale)

In [98]:
len(num), len(moneys), len(sales)

(58, 58, 58)

In [103]:
# dataframe 순번, 통화명, 매매기준율 , index는 순번
df = pd.DataFrame({'순번':num, '통화명':moneys, '매매기준율':sales})
df.set_index('순번', inplace=True)
df.head()

              통화명     매매기준율
순번
1          미국 USD  1,311.70
2        유럽연합 EUR  1,437.49
3   일본 JPY (100엔)    996.77
4          중국 CNY    190.71
5          홍콩 HKD    167.10

In [105]:
df.to_csv("money.csv", encoding="utf-8")